<html>
    <head>
        <title>AutoMapper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="../js/jquery.js"></script>
        <script src="../js/d3.min.js"></script>
        <script src="../js/topojson.v1.min.js"></script>
        <script src="../js/papaparse.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="../css/site.css"/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="https://unpkg.com/esri-leaflet@3.0.1/dist/esri-leaflet.js"
            integrity="sha512-JmpptMCcCg+Rd6x0Dbg6w+mmyzs1M7chHCd9W8HPovnImG2nLAQWn3yltwxXRM7WjKKFFHOAKjjF2SC4CgiFBg=="
            crossorigin=""></script>
        <script src="https://unpkg.com/esri-leaflet-vector@3.0.0/dist/esri-leaflet-vector.js"></script>        
        <!-- Global site tag (gtag.js) - Google Analytics --> 
    </head>
    <body>
        <div id="content" class="container-fluid">
            <div id="menu-bar" class="row">
                <div class="col-sm-6">
                    <p><a href="../">AutoMapper V0.1</a></p>
                </div>
                <div class="col-sm-6 text-right">
                    <p><span class="menu-item"><a href="https://docs.google.com/forms/d/e/1FAIpQLScKuAKWNHFGPEfTHJuM5_SO4nxsNPti4HgYZDqJYRbst5qSNA/viewform" target="_blank">Feedback</a></span><span class="menu-item"><a href="../about/">About</a></span></p>
                </div>
            </div>
            <div class="frontpage-section">
                <h1>Download a template for ward data</h1>
                <p>Download a template for your area and assign a value to each local authority or ward and then copy the data into the text field.</p>
                <select id="templateselection">
                    <option value="Aberdeen City.csv">Aberdeen City</option>
                    <option value="Aberdeenshire.csv">Aberdeenshire</option>
                    <option value="Adur.csv">Adur</option>
                    <option value="Allerdale.csv">Allerdale</option>
                    <option value="Amber Valley.csv">Amber Valley</option>
                    <option value="Angus.csv">Angus</option>
                    <option value="Antrim and Newtownabbey.csv">Antrim and Newtownabbey</option>
                    <option value="Ards and North Down.csv">Ards and North Down</option>
                    <option value="Argyll and Bute.csv">Argyll and Bute</option>
                    <option value="Armagh City, Banbridge and Craigavon.csv">Armagh City, Banbridge and Craigavon</option>
                    <option value="Arun.csv">Arun</option>
                    <option value="Ashfield.csv">Ashfield</option>
                    <option value="Ashford.csv">Ashford</option>
                    <option value="Babergh.csv">Babergh</option>
                    <option value="Barking and Dagenham.csv">Barking and Dagenham</option>
                    <option value="Barnet.csv">Barnet</option>
                    <option value="Barnsley.csv">Barnsley</option>
                    <option value="Barrow-in-Furness.csv">Barrow-in-Furness</option>
                    <option value="Basildon.csv">Basildon</option>
                    <option value="Bassetlaw.csv">Bassetlaw</option>
                    <option value="Bath and North East Somerset.csv">Bath and North East Somerset</option>
                    <option value="Bedford.csv">Bedford</option>
                    <option value="Belfast.csv">Belfast</option>
                    <option value="Bexley.csv">Bexley</option>
                    <option value="Birmingham.csv">Birmingham</option>
                    <option value="Blaby.csv">Blaby</option>
                    <option value="Blackburn with Darwen.csv">Blackburn with Darwen</option>
                    <option value="Blackpool.csv">Blackpool</option>
                    <option value="Blaenau Gwent.csv">Blaenau Gwent</option>
                    <option value="Bolsover.csv">Bolsover</option>
                    <option value="Bolton.csv">Bolton</option>
                    <option value="Boston.csv">Boston</option>
                    <option value="Bournemouth, Christchurch and Poole.csv">Bournemouth, Christchurch and Poole</option>
                    <option value="Bracknell Forest.csv">Bracknell Forest</option>
                    <option value="Bradford.csv">Bradford</option>
                    <option value="Braintree.csv">Braintree</option>
                    <option value="Breckland.csv">Breckland</option>
                    <option value="Brent.csv">Brent</option>
                    <option value="Brentwood.csv">Brentwood</option>
                    <option value="Bridgend.csv">Bridgend</option>
                    <option value="Brighton and Hove.csv">Brighton and Hove</option>
                    <option value="Bristol, City of.csv">Bristol, City of</option>
                    <option value="Broadland.csv">Broadland</option>
                    <option value="Bromley.csv">Bromley</option>
                    <option value="Bromsgrove.csv">Bromsgrove</option>
                    <option value="Broxbourne.csv">Broxbourne</option>
                    <option value="Broxtowe.csv">Broxtowe</option>
                    <option value="Burnley.csv">Burnley</option>
                    <option value="Bury.csv">Bury</option>
                    <option value="Caerphilly.csv">Caerphilly</option>
                    <option value="Calderdale.csv">Calderdale</option>
                    <option value="Camden.csv">Camden</option>
                    <option value="Cannock Chase.csv">Cannock Chase</option>
                    <option value="Canterbury.csv">Canterbury</option>
                    <option value="Cardiff.csv">Cardiff</option>
                    <option value="Carlisle.csv">Carlisle</option>
                    <option value="Carmarthenshire.csv">Carmarthenshire</option>
                    <option value="Castle Point.csv">Castle Point</option>
                    <option value="Causeway Coast and Glens.csv">Causeway Coast and Glens</option>
                    <option value="Central Bedfordshire.csv">Central Bedfordshire</option>
                    <option value="Ceredigion.csv">Ceredigion</option>
                    <option value="Charnwood.csv">Charnwood</option>
                    <option value="Chelmsford.csv">Chelmsford</option>
                    <option value="Cheltenham.csv">Cheltenham</option>
                    <option value="Cherwell.csv">Cherwell</option>
                    <option value="Cheshire East.csv">Cheshire East</option>
                    <option value="Cheshire West and Chester.csv">Cheshire West and Chester</option>
                    <option value="Chesterfield.csv">Chesterfield</option>
                    <option value="Chichester.csv">Chichester</option>
                    <option value="City of Edinburgh.csv">City of Edinburgh</option>
                    <option value="City of London.csv">City of London</option>
                    <option value="Clackmannanshire.csv">Clackmannanshire</option>
                    <option value="Colchester.csv">Colchester</option>
                    <option value="Conwy.csv">Conwy</option>
                    <option value="Copeland.csv">Copeland</option>
                    <option value="Cotswold.csv">Cotswold</option>
                    <option value="County Durham.csv">County Durham</option>
                    <option value="Coventry.csv">Coventry</option>
                    <option value="Craven.csv">Craven</option>
                    <option value="Crawley.csv">Crawley</option>
                    <option value="Croydon.csv">Croydon</option>
                    <option value="Dacorum.csv">Dacorum</option>
                    <option value="Darlington.csv">Darlington</option>
                    <option value="Dartford.csv">Dartford</option>
                    <option value="Denbighshire.csv">Denbighshire</option>
                    <option value="Derby.csv">Derby</option>
                    <option value="Derbyshire Dales.csv">Derbyshire Dales</option>
                    <option value="Derry City and Strabane.csv">Derry City and Strabane</option>
                    <option value="Doncaster.csv">Doncaster</option>
                    <option value="Dorset.csv">Dorset</option>
                    <option value="Dover.csv">Dover</option>
                    <option value="Dudley.csv">Dudley</option>
                    <option value="Dumfries and Galloway.csv">Dumfries and Galloway</option>
                    <option value="Dundee City.csv">Dundee City</option>
                    <option value="Ealing.csv">Ealing</option>
                    <option value="East Ayrshire.csv">East Ayrshire</option>
                    <option value="East Cambridgeshire.csv">East Cambridgeshire</option>
                    <option value="East Devon.csv">East Devon</option>
                    <option value="East Dunbartonshire.csv">East Dunbartonshire</option>
                    <option value="East Hampshire.csv">East Hampshire</option>
                    <option value="East Hertfordshire.csv">East Hertfordshire</option>
                    <option value="East Lindsey.csv">East Lindsey</option>
                    <option value="East Lothian.csv">East Lothian</option>
                    <option value="East Renfrewshire.csv">East Renfrewshire</option>
                    <option value="East Riding of Yorkshire.csv">East Riding of Yorkshire</option>
                    <option value="East Staffordshire.csv">East Staffordshire</option>
                    <option value="East Suffolk.csv">East Suffolk</option>
                    <option value="Eastbourne.csv">Eastbourne</option>
                    <option value="Eastleigh.csv">Eastleigh</option>
                    <option value="Eden.csv">Eden</option>
                    <option value="Elmbridge.csv">Elmbridge</option>
                    <option value="Enfield.csv">Enfield</option>
                    <option value="Epping Forest.csv">Epping Forest</option>
                    <option value="Epsom and Ewell.csv">Epsom and Ewell</option>
                    <option value="Erewash.csv">Erewash</option>
                    <option value="Exeter.csv">Exeter</option>
                    <option value="Falkirk.csv">Falkirk</option>
                    <option value="Fareham.csv">Fareham</option>
                    <option value="Fenland.csv">Fenland</option>
                    <option value="Fermanagh and Omagh.csv">Fermanagh and Omagh</option>
                    <option value="Fife.csv">Fife</option>
                    <option value="Flintshire.csv">Flintshire</option>
                    <option value="Folkestone and Hythe.csv">Folkestone and Hythe</option>
                    <option value="Forest of Dean.csv">Forest of Dean</option>
                    <option value="Fylde.csv">Fylde</option>
                    <option value="Gateshead.csv">Gateshead</option>
                    <option value="Gedling.csv">Gedling</option>
                    <option value="Glasgow City.csv">Glasgow City</option>
                    <option value="Gloucester.csv">Gloucester</option>
                    <option value="Gosport.csv">Gosport</option>
                    <option value="Gravesham.csv">Gravesham</option>
                    <option value="Great Yarmouth.csv">Great Yarmouth</option>
                    <option value="Greenwich.csv">Greenwich</option>
                    <option value="Guildford.csv">Guildford</option>
                    <option value="Gwynedd.csv">Gwynedd</option>
                    <option value="Hackney.csv">Hackney</option>
                    <option value="Hambleton.csv">Hambleton</option>
                    <option value="Hammersmith and Fulham.csv">Hammersmith and Fulham</option>
                    <option value="Harborough.csv">Harborough</option>
                    <option value="Haringey.csv">Haringey</option>
                    <option value="Harlow.csv">Harlow</option>
                    <option value="Harrogate.csv">Harrogate</option>
                    <option value="Harrow.csv">Harrow</option>
                    <option value="Hart.csv">Hart</option>
                    <option value="Hastings.csv">Hastings</option>
                    <option value="Havant.csv">Havant</option>
                    <option value="Havering.csv">Havering</option>
                    <option value="Herefordshire, County of.csv">Herefordshire, County of</option>
                    <option value="Hertsmere.csv">Hertsmere</option>
                    <option value="High Peak.csv">High Peak</option>
                    <option value="Highland.csv">Highland</option>
                    <option value="Hillingdon.csv">Hillingdon</option>
                    <option value="Hinckley and Bosworth.csv">Hinckley and Bosworth</option>
                    <option value="Horsham.csv">Horsham</option>
                    <option value="Hounslow.csv">Hounslow</option>
                    <option value="Huntingdonshire.csv">Huntingdonshire</option>
                    <option value="Hyndburn.csv">Hyndburn</option>
                    <option value="Inverclyde.csv">Inverclyde</option>
                    <option value="Ipswich.csv">Ipswich</option>
                    <option value="Isle of Anglesey.csv">Isle of Anglesey</option>
                    <option value="Isles of Scilly.csv">Isles of Scilly</option>
                    <option value="Islington.csv">Islington</option>
                    <option value="Kensington and Chelsea.csv">Kensington and Chelsea</option>
                    <option value="King's Lynn and West Norfolk.csv">King's Lynn and West Norfolk</option>
                    <option value="Kingston upon Hull, City of.csv">Kingston upon Hull, City of</option>
                    <option value="Kingston upon Thames.csv">Kingston upon Thames</option>
                    <option value="Kirklees.csv">Kirklees</option>
                    <option value="Knowsley.csv">Knowsley</option>
                    <option value="Lambeth.csv">Lambeth</option>
                    <option value="Lancaster.csv">Lancaster</option>
                    <option value="Leeds.csv">Leeds</option>
                    <option value="Leicester.csv">Leicester</option>
                    <option value="Lewes.csv">Lewes</option>
                    <option value="Lewisham.csv">Lewisham</option>
                    <option value="Lichfield.csv">Lichfield</option>
                    <option value="Lincoln.csv">Lincoln</option>
                    <option value="Lisburn and Castlereagh.csv">Lisburn and Castlereagh</option>
                    <option value="Liverpool.csv">Liverpool</option>
                    <option value="Luton.csv">Luton</option>
                    <option value="Maidstone.csv">Maidstone</option>
                    <option value="Maldon.csv">Maldon</option>
                    <option value="Malvern Hills.csv">Malvern Hills</option>
                    <option value="Manchester.csv">Manchester</option>
                    <option value="Mansfield.csv">Mansfield</option>
                    <option value="Medway.csv">Medway</option>
                    <option value="Melton.csv">Melton</option>
                    <option value="Mendip.csv">Mendip</option>
                    <option value="Merthyr Tydfil.csv">Merthyr Tydfil</option>
                    <option value="Merton.csv">Merton</option>
                    <option value="Mid and East Antrim.csv">Mid and East Antrim</option>
                    <option value="Mid Devon.csv">Mid Devon</option>
                    <option value="Mid Suffolk.csv">Mid Suffolk</option>
                    <option value="Mid Sussex.csv">Mid Sussex</option>
                    <option value="Mid Ulster.csv">Mid Ulster</option>
                    <option value="Middlesbrough.csv">Middlesbrough</option>
                    <option value="Midlothian.csv">Midlothian</option>
                    <option value="Milton Keynes.csv">Milton Keynes</option>
                    <option value="Mole Valley.csv">Mole Valley</option>
                    <option value="Monmouthshire.csv">Monmouthshire</option>
                    <option value="Moray.csv">Moray</option>
                    <option value="Na h-Eileanan Siar.csv">Na h-Eileanan Siar</option>
                    <option value="Neath Port Talbot.csv">Neath Port Talbot</option>
                    <option value="New Forest.csv">New Forest</option>
                    <option value="Newark and Sherwood.csv">Newark and Sherwood</option>
                    <option value="Newcastle upon Tyne.csv">Newcastle upon Tyne</option>
                    <option value="Newcastle-under-Lyme.csv">Newcastle-under-Lyme</option>
                    <option value="Newham.csv">Newham</option>
                    <option value="Newport.csv">Newport</option>
                    <option value="Newry, Mourne and Down.csv">Newry, Mourne and Down</option>
                    <option value="North Ayrshire.csv">North Ayrshire</option>
                    <option value="North Devon.csv">North Devon</option>
                    <option value="North East Derbyshire.csv">North East Derbyshire</option>
                    <option value="North East Lincolnshire.csv">North East Lincolnshire</option>
                    <option value="North Hertfordshire.csv">North Hertfordshire</option>
                    <option value="North Kesteven.csv">North Kesteven</option>
                    <option value="North Lanarkshire.csv">North Lanarkshire</option>
                    <option value="North Lincolnshire.csv">North Lincolnshire</option>
                    <option value="North Norfolk.csv">North Norfolk</option>
                    <option value="North Somerset.csv">North Somerset</option>
                    <option value="North Tyneside.csv">North Tyneside</option>
                    <option value="North Warwickshire.csv">North Warwickshire</option>
                    <option value="North West Leicestershire.csv">North West Leicestershire</option>
                    <option value="Northumberland.csv">Northumberland</option>
                    <option value="Norwich.csv">Norwich</option>
                    <option value="Nottingham.csv">Nottingham</option>
                    <option value="Nuneaton and Bedworth.csv">Nuneaton and Bedworth</option>
                    <option value="Oadby and Wigston.csv">Oadby and Wigston</option>
                    <option value="Oldham.csv">Oldham</option>
                    <option value="Orkney Islands.csv">Orkney Islands</option>
                    <option value="Pembrokeshire.csv">Pembrokeshire</option>
                    <option value="Perth and Kinross.csv">Perth and Kinross</option>
                    <option value="Peterborough.csv">Peterborough</option>
                    <option value="Plymouth.csv">Plymouth</option>
                    <option value="Portsmouth.csv">Portsmouth</option>
                    <option value="Powys.csv">Powys</option>
                    <option value="Preston.csv">Preston</option>
                    <option value="Reading.csv">Reading</option>
                    <option value="Redbridge.csv">Redbridge</option>
                    <option value="Redcar and Cleveland.csv">Redcar and Cleveland</option>
                    <option value="Redditch.csv">Redditch</option>
                    <option value="Reigate and Banstead.csv">Reigate and Banstead</option>
                    <option value="Renfrewshire.csv">Renfrewshire</option>
                    <option value="Rhondda Cynon Taf.csv">Rhondda Cynon Taf</option>
                    <option value="Ribble Valley.csv">Ribble Valley</option>
                    <option value="Richmond upon Thames.csv">Richmond upon Thames</option>
                    <option value="Richmondshire.csv">Richmondshire</option>
                    <option value="Rochdale.csv">Rochdale</option>
                    <option value="Rochford.csv">Rochford</option>
                    <option value="Rossendale.csv">Rossendale</option>
                    <option value="Rother.csv">Rother</option>
                    <option value="Rugby.csv">Rugby</option>
                    <option value="Runnymede.csv">Runnymede</option>
                    <option value="Rushcliffe.csv">Rushcliffe</option>
                    <option value="Rushmoor.csv">Rushmoor</option>
                    <option value="Rutland.csv">Rutland</option>
                    <option value="Ryedale.csv">Ryedale</option>
                    <option value="Sandwell.csv">Sandwell</option>
                    <option value="Scarborough.csv">Scarborough</option>
                    <option value="Scottish Borders.csv">Scottish Borders</option>
                    <option value="Sedgemoor.csv">Sedgemoor</option>
                    <option value="Sefton.csv">Sefton</option>
                    <option value="Selby.csv">Selby</option>
                    <option value="Sevenoaks.csv">Sevenoaks</option>
                    <option value="Sheffield.csv">Sheffield</option>
                    <option value="Shetland Islands.csv">Shetland Islands</option>
                    <option value="Shropshire.csv">Shropshire</option>
                    <option value="Slough.csv">Slough</option>
                    <option value="Solihull.csv">Solihull</option>
                    <option value="Somerset West and Taunton.csv">Somerset West and Taunton</option>
                    <option value="South Ayrshire.csv">South Ayrshire</option>
                    <option value="South Cambridgeshire.csv">South Cambridgeshire</option>
                    <option value="South Derbyshire.csv">South Derbyshire</option>
                    <option value="South Gloucestershire.csv">South Gloucestershire</option>
                    <option value="South Hams.csv">South Hams</option>
                    <option value="South Holland.csv">South Holland</option>
                    <option value="South Kesteven.csv">South Kesteven</option>
                    <option value="South Lakeland.csv">South Lakeland</option>
                    <option value="South Lanarkshire.csv">South Lanarkshire</option>
                    <option value="South Norfolk.csv">South Norfolk</option>
                    <option value="South Oxfordshire.csv">South Oxfordshire</option>
                    <option value="South Ribble.csv">South Ribble</option>
                    <option value="South Somerset.csv">South Somerset</option>
                    <option value="South Staffordshire.csv">South Staffordshire</option>
                    <option value="South Tyneside.csv">South Tyneside</option>
                    <option value="Southampton.csv">Southampton</option>
                    <option value="Southend-on-Sea.csv">Southend-on-Sea</option>
                    <option value="Southwark.csv">Southwark</option>
                    <option value="Spelthorne.csv">Spelthorne</option>
                    <option value="St Albans.csv">St Albans</option>
                    <option value="St. Helens.csv">St. Helens</option>
                    <option value="Stafford.csv">Stafford</option>
                    <option value="Staffordshire Moorlands.csv">Staffordshire Moorlands</option>
                    <option value="Stevenage.csv">Stevenage</option>
                    <option value="Stirling.csv">Stirling</option>
                    <option value="Stockport.csv">Stockport</option>
                    <option value="Stockton-on-Tees.csv">Stockton-on-Tees</option>
                    <option value="Stoke-on-Trent.csv">Stoke-on-Trent</option>
                    <option value="Stratford-on-Avon.csv">Stratford-on-Avon</option>
                    <option value="Stroud.csv">Stroud</option>
                    <option value="Sunderland.csv">Sunderland</option>
                    <option value="Surrey Heath.csv">Surrey Heath</option>
                    <option value="Sutton.csv">Sutton</option>
                    <option value="Swale.csv">Swale</option>
                    <option value="Swansea.csv">Swansea</option>
                    <option value="Swindon.csv">Swindon</option>
                    <option value="Tameside.csv">Tameside</option>
                    <option value="Tamworth.csv">Tamworth</option>
                    <option value="Tandridge.csv">Tandridge</option>
                    <option value="Teignbridge.csv">Teignbridge</option>
                    <option value="Telford and Wrekin.csv">Telford and Wrekin</option>
                    <option value="Tendring.csv">Tendring</option>
                    <option value="Test Valley.csv">Test Valley</option>
                    <option value="Tewkesbury.csv">Tewkesbury</option>
                    <option value="Thanet.csv">Thanet</option>
                    <option value="Three Rivers.csv">Three Rivers</option>
                    <option value="Thurrock.csv">Thurrock</option>
                    <option value="Tonbridge and Malling.csv">Tonbridge and Malling</option>
                    <option value="Torbay.csv">Torbay</option>
                    <option value="Torfaen.csv">Torfaen</option>
                    <option value="Torridge.csv">Torridge</option>
                    <option value="Tower Hamlets.csv">Tower Hamlets</option>
                    <option value="Trafford.csv">Trafford</option>
                    <option value="Tunbridge Wells.csv">Tunbridge Wells</option>
                    <option value="Uttlesford.csv">Uttlesford</option>
                    <option value="Vale of Glamorgan.csv">Vale of Glamorgan</option>
                    <option value="Vale of White Horse.csv">Vale of White Horse</option>
                    <option value="Wakefield.csv">Wakefield</option>
                    <option value="Walsall.csv">Walsall</option>
                    <option value="Waltham Forest.csv">Waltham Forest</option>
                    <option value="Wandsworth.csv">Wandsworth</option>
                    <option value="Warrington.csv">Warrington</option>
                    <option value="Warwick.csv">Warwick</option>
                    <option value="Watford.csv">Watford</option>
                    <option value="Waverley.csv">Waverley</option>
                    <option value="Wealden.csv">Wealden</option>
                    <option value="Welwyn Hatfield.csv">Welwyn Hatfield</option>
                    <option value="West Berkshire.csv">West Berkshire</option>
                    <option value="West Devon.csv">West Devon</option>
                    <option value="West Dunbartonshire.csv">West Dunbartonshire</option>
                    <option value="West Lancashire.csv">West Lancashire</option>
                    <option value="West Lindsey.csv">West Lindsey</option>
                    <option value="West Lothian.csv">West Lothian</option>
                    <option value="West Oxfordshire.csv">West Oxfordshire</option>
                    <option value="West Suffolk.csv">West Suffolk</option>
                    <option value="Westminster.csv">Westminster</option>
                    <option value="Wigan.csv">Wigan</option>
                    <option value="Winchester.csv">Winchester</option>
                    <option value="Windsor and Maidenhead.csv">Windsor and Maidenhead</option>
                    <option value="Wirral.csv">Wirral</option>
                    <option value="Woking.csv">Woking</option>
                    <option value="Wokingham.csv">Wokingham</option>
                    <option value="Wolverhampton.csv">Wolverhampton</option>
                    <option value="Worcester.csv">Worcester</option>
                    <option value="Worthing.csv">Worthing</option>
                    <option value="Wrexham.csv">Wrexham</option>
                    <option value="Wychavon.csv">Wychavon</option>
                    <option value="Wyre Forest.csv">Wyre Forest</option>
                    <option value="Wyre.csv">Wyre</option>
                    <option value="York.csv">York</option>
                </select>
                <a id="downloadlink" href="../template_files/Aberdeen City.csv"><button id="download" class="btn btn-app">Download</button></a>
            </div>
            <div id="footer" class="row">
                <div class="col-md-12 text-center">
                    <p>An initiative of Catalyst in collaboration with Hetco Design, part of the Catalyst and The National Lottery Community Fund COVID-19 Digital Response</p>
                    <p>This is an open source project. See the <a class="link-highlight" href="">github repository</a> for more information.</p>
                    <img class="footer-logo" height="30px" src="../images/data-collective.png" /><img class="footer-logo" height="20px" src="../images/DataKindUK.png" /><img class="footer-logo" height="50px" src="../images/hetco.png" />
                </div>
            </div>
        </div>
        <canvas id="canvas"></canvas>
        <script src="../js/map.js"></script>
        <script src="../js/template.js"></script>
    </body>
</html>
